{% extends 'base.html.twig' %}

{% block title %}Calcul du montant{% endblock %}

{% block body %}
    <div class="container">
        <h1>Calcul du montant</h1>
        <hr>
        <form action="{{ path('app_home') }}" method="post">
        <h2>Choisir l'expediteur</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">idClient</th>
                        <th scope="col">raisonSociale</th>
                        <th scope="col">ville</th>
                        <th scope="col">codePostal</th>
                        <th scope="col">Choisir</th>
                    </tr>
                </thead>
                <tbody>
                    {% for client in clients %}
                        <tr>
                            <td>{{client.id_client}}</td>
                            <td>{{client.raison_sociale}}</td>
                            <td>{{client.ville}}</td>
                            <td>{{client.code_postal}}</td>
                            <td>
                                <input type="radio" name="expediteurId" value="{{client.id_client}}">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
            <h2>Choisir le destinataire</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">idClient</th>
                        <th scope="col">raisonSociale</th>
                        <th scope="col">ville</th>
                        <th scope="col">codePostal</th>
                        <th scope="col">Choisir</th>
                    </tr>
                </thead>
                <tbody>
                    {% for client in clients %}
                        <tr>
                            <td>{{client.id_client}}</td>
                            <td>{{client.raison_sociale}}</td>
                            <td>{{client.ville}}</td>
                            <td>{{client.code_postal}}</td>
                            <td>
                                <input type="radio" name="destinataireId" value="{{client.id_client}}">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
            <label for="reglement">Qui paie les frais ?</label>
            <select name="reglement" id="reglement">
            <option value="expediteur">l'expéditeur</option>
            <option value="destinataire">Le destinataire</option>
            </select>

            <div class="form-group">
                <input type="number" name="colis" placeholder="Définir le nombre de colis">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
